<%= content_for :head do %>
  <script>
    $(document).ready(function() {
      Audiogara.initUser("<%= current_user.lastfm_username %>");
    });
  </script>
<% end -%>

<header>
  <h2>
    <% if @user.image_small.present? -%>
      <%= image_tag(@user.image_small) %>
    <% end -%>

    <% if current_user == @user -%>
      Hi <%= user_name %>
    <% else -%>
      <%= @user.lastfm_username %>
    <% end -%>
  </h2>
</header>

<% if @interesting_torrents.present? -%>
  <p>Here's what we recommend:</p>

  <ul id="recommendedTorrents">
    <%= render :partial => "torrents/torrent", :collection => @interesting_torrents %>
  </ul>
<% else -%>
  <p id="sorryNoTorrents">Sorry but we don't have anything to recommend at the
  moment. But that's also good - we're shielding you from too much choice.
  Check back in a few days as more torrents get published.</p>

  <% if user_has_too_few_known_interests? -%>
    <p id="dontKnowMuch">It seems like you Last.fm history is not too long eh?
    Many new worlds are waiting for you!</p>
  <% end -%>
<% end -%>

<% if current_user == @user -%>
  <small>Wanna be somebody else? <%= link_to("Sign out", signout_user_path(@user)) %></small>
<% end -%>
