<h2><%= @torrent.title %></h2>

<div class="torrentDetails">
  <p>
    Artist: 
    <% if @torrent.artist.present? -%>
      <%= link_to @torrent.artist.name, @torrent.artist %>,
    <% else -%>
      <%= @torrent.artist_name.titleize %>,
    <% end -%>
    album: <%= @torrent.album_name.titleize %>
  </p>

  <p>
    Published <%= time_ago_in_words(@torrent.published_at) %>,
    fetched <%= time_ago_in_words(@torrent.created_at) %> ago.
  </p>

  <p>
    <%= link_to "permalink", @torrent %> |
    <%= link_to "source", @torrent.guid %> |
    <%= link_to "download", @torrent.link %>
  </p>
</div>
