<h2><%= @torrent.title %></h2>

<div id="torrentArtistAlbum">
  <p>
    Artist: 
    <% if @torrent.artist.present? -%>
      <%= link_to @torrent.artist.name, @torrent.artist %>,
    <% else -%>
      <%= @torrent.artist_name.titleize %>,
    <% end -%>
    album: <%= @torrent.album_name.titleize %>
  </p>
</div>

<%= render :partial => "details", :object => @torrent %>
