<!DOCTYPE html>
<!--
                       888 d8b                                            
                       888 Y8P                                            
                       888                                                
 8888b.  888  888  .d88888 888  .d88b.   .d88b.   8888b.  888d888 8888b.  
    "88b 888  888 d88" 888 888 d88""88b d88P"88b     "88b 888P"      "88b 
.d888888 888  888 888  888 888 888  888 888  888 .d888888 888    .d888888 
888  888 Y88b 888 Y88b 888 888 Y88..88P Y88b 888 888  888 888    888  888 
"Y888888  "Y88888  "Y88888 888  "Y88P"   "Y88888 "Y888888 888    "Y888888 
                                             888                          
                                        Y8b d88P                          
                                         "Y88P"                           
-->
<html>
<head>
  <title>Audiogara</title>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to 'Torrents', torrents_path %></li>
      <li><%= link_to 'Artists', artists_path %></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
